* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1140px;
  margin: auto;
}

img {
  max-width: 100%;
}

.navbar__button:hover {
  background-color: #1565D8;
  color: #fff;
}

.navbar__link:hover {
  color: #1565D8;
}

.main-left__buy:hover {
  background-color: #0E50AF;
}

.main-left__demo:hover {
  background: #fff;
  color: #0E50AF;
  border: 2px solid #0E50AF;
}

.category-book__best-book:hover {
  color: #0E50AF;
}

.category-book__best-button:hover {
  background: #FAAD13;
}

.category-book__more:hover {
  color: #0E50AF;
}

.category-book__booking-button:hover {
  background: #FAAD13;
}

.navbar {
  width: 100%;
  padding-top: 37px;
  padding-bottom: 37px;
  background-color: #fff;
}

.navbar-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-top__menu-button {
  display: none;
}

.navbar__rating {
  list-style-type: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 270px;
  max-width: 260px;
}

.navbar__link {
  text-decoration: none;
  color: #183B56;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin-right: 23px;
}

.navbar__button {
  max-width: 152px;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-right: 33px;
  padding-left: 30px;
  margin-bottom: 5px;
  border: 2px solid #1565D8;
  border-radius: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #1565D8;
  background-color: #fff;
  cursor: pointer;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 33px;
}

.main-left {
  max-width: 585px;
  margin-top: -10px;
}

.main-left__title {
  margin: 0;
  margin-bottom: 29px;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.2px;
  color: #183B56;
}

.main-left__title-yellow {
  color: #FAAD13;
}

.main-left__subtitle {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #183B56;
}

.main-left__description {
  max-width: 585px;
  margin: 0;
  margin-top: 36px;
  margin-bottom: 56px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #5A7184;
}

.main-left__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 23px;
}

.main-left__buy {
  padding: 18px 38px;
  background: #1565D8;
  border-radius: 8px;
  color: #fff;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
}

.main-left__demo {
  padding: 17px 48px;
  border: 2px solid #1565D8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  background: #fff;
  color: #1565D8;
}

.main-right {
  position: relative;
  background: #F8F9FA;
  padding: 122px 119px;
  z-index: 0;
}

.category-book {
  margin-top: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.category-book__title {
  margin: 0;
  margin-bottom: 30px;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.2px;
  color: #183B56;
}

.category-book__req {
  max-width: 751px;
}

.category-book__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 3px;
  gap: 32px;
}

.category-book__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 358px;
  border: 1px solid #ECEEF2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  padding: 10px 16px 10px 11px;
}

.category-book__image {
  width: 160px;
  height: 238px;
  border-radius: 8px;
  margin-right: 19px;
}

.category-book__more {
  width: 100%;
  max-width: 751px;
  padding-top: 25px;
  padding-bottom: 27px;
  margin-top: 27px;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  background: #E8F0FC;
  border-radius: 8px;
  border: none;
  color: #1565D8;
}

.category-book__booking-title {
  margin: 0;
  margin-top: 13px;
  margin-bottom: 16px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #183B56;
}

.category-book__booking-description {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #183B56;
}

.category-book__booking-price {
  margin-top: 24px;
  margin-bottom: 24px;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #1565D8;
}

.category-book__booking-button {
  padding: 7px 20px;
  border: 1px solid #ECEEF2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-style: normal;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 22px;
  background: #183B56;
  color: #fff;
  border-radius: 2000px;
}

.category-book__booking-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 13px;
  gap: 20px;
}

.category-book__best {
  max-width: 360px;
  background: #F8F9FA;
  border-radius: 8px;
  padding: 24px;
}

.category-book__best-image {
  border-radius: 8px;
  margin-right: 26px;
}

.category-book__best-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 36px;
}

.category-book__best-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 8px;
}

.category-book__best-name {
  margin: 0;
  margin-bottom: 15px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #183B56;
}

.category-book__best-price {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #1565D8;
}

.category-book__best-button {
  max-width: 101px;
  margin-top: 22px;
  padding: 7px 10px;
  border: 1px solid #ECEEF2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-style: normal;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 22px;
  background: #183B56;
  color: #fff;
  border-radius: 2000px;
}

.category-book__best-line {
  margin: 0;
  margin-top: -10px;
  margin-bottom: 25px;
  background-color: #D8D8D8;
  border: 1px solid #ECEEF2;
}

.category-book__best-link {
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #1565D8;
}

.category-book__best-book {
  margin: 0;
  cursor: pointer;
}

.after-category__line {
  margin-top: 79px;
  margin-bottom: 60px;
  background-color: #D8D8D8;
  border: 1px solid #ECEEF2;
}

.req-slider {
  position: relative;
  margin-bottom: 100px;
}

.req-slider__container {
  max-width: 1140px;
  margin: auto;
}

.req-slider__button {
  position: absolute;
  top: 90px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.08);
  border: none;
  background: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
}

.req-slider__button--next {
  right: 120px;
  background-image: url(../img/arrow-next.svg);
}

.req-slider__button--prev {
  left: 120px;
  background-image: url(../img/arrow-prev.svg);
}

.req-slider__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.req-slider__contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 34px 30px 35px;
  border: 1px solid #ECEEF2;
  border-radius: 8px;
}

.req-slider__contain-title {
  font-family: 'Roboto' , sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #183B56;
}

.req-slider__contain-subtitle {
  font-family: 'Open Sans' , sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #5A7184;
}

.unrel {
  margin-top: 65px;
  margin-bottom: 60px;
  font-family: 'Roboto Condensed' , sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.2px;
  color: #fff;
}

.unrel-slider {
  background: #183B56;
  padding-bottom: 80px;
}

.unrel-slider__button {
  position: absolute;
  top: 0;
  width: 54px;
  height: 56px;
  border: 2px solid #5A7184;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2000px;
  background: #183B56;
  background-repeat: no-repeat;
  background-position: center;
}

.unrel-slider__button--prev {
  top: 61px;
  right: 230px;
  background-image: url(../img/arrow-left.svg);
}

.unrel-slider__button--next {
  top: 61px;
  right: 150px;
  background-image: url(../img/arrow-right.svg);
}

.unrel-slider__container {
  max-width: 1140px;
  margin: auto;
}

.unrel-slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 32px;
}

.unrel-slider__image {
  width: 202px;
  height: 298px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

.swiper-container {
  max-width: 1140px;
  margin: auto;
}

.history {
  max-width: 1005px;
  margin: auto;
}

.history-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 106px;
  margin-bottom: 20px;
}

.history-top__title {
  margin: 0;
  font-family: 'Roboto Condensed' , sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.2px;
  color: #183B56;
}

.history-top__text {
  max-width: 420px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #5A7184;
}

.history-middle {
  position: relative;
  margin-bottom: 30px;
}

.history-middle__icon {
  position: absolute;
  right: 451px;
  top: 140px;
  cursor: pointer;
}

.history-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.history-down__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.history-down__play {
  position: absolute;
  top: 80px;
  left: 140px;
}

.history-down__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.history-down__header {
  margin: 0;
  margin-top: 22px;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #183B56;
}

.history-down__text {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #5A7184;
}

.partners {
  background: #B3BAC5;
  margin-top: 100px;
}

.partners-title {
  margin: 0;
  padding-top: 80px;
  padding-bottom: 55px;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.2px;
  text-align: center;
  color: #fff;
}

.partners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 50px;
  padding-bottom: 100px;
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px;
}

.blog-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 37px;
}

.blog-top__title {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.2px;
  color: #183B56;
}

.blog-top__button {
  padding: 13px 54px;
  border: 2px solid #1565D8;
  border-radius: 22px;
  background: #fff;
  color: #1565D8;
}

.blog-top__button-link {
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #1565D8;
}

.blog-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-down__left {
  max-width: 556px;
}

.blog-down__left-title {
  margin-top: 27px;
  margin-bottom: 16px;
  padding-right: 10px;
  font-family: 'Roboto Condensed' , sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #183B56;
}

.blog-down__left-description {
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Open Sans' , sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #5A7184;
}

.blog-down__right {
  margin-left: 30px;
}

.blog-down__right-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 36px;
  margin-bottom: 25px;
}

.description-blog {
  padding-top: 7px;
  padding-bottom: 10px;
}

.description-blog__date {
  font-family: 'Open Sans' , sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #5A7184;
}

.description-blog__title {
  margin-top: 16px;
  margin-bottom: 18px;
  font-family: 'Roboto' , sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #183B56;
}

.description-blog__read {
  font-family: 'Roboto Condensed' , sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #1665D8;
}

.sta-area {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url("../img/sta-bg.png") no-repeat center;
  border-radius: 12px;
  margin-top: 67px;
  margin-bottom: 110px;
}

.sta-area__title {
  margin: 0;
  max-width: 393px;
  padding-top: 60px;
  padding-bottom: 80px;
  margin-left: 60px;
  font-family: 'Roboto Condensed' , sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}

.sta-area__input {
  margin-right: 63px;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 48px;
  padding-right: 174px;
  background: #FFFFFF;
  border: 1px solid #C3CAD9;
  border-radius: 8px;
}

.sta-area__button {
  position: absolute;
  top: 94px;
  right: 67px;
  font-family: 'Open Sans' , sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  padding: 13px 18px;
  background: #FAAD13;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.sta-area__icon {
  position: absolute;
  margin-top: 22px;
  margin-left: 20px;
}

.footer-wrapper {
  max-width: 1140px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__title {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #183B56;
}

.footer__ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 31px;
}

.footer__link {
  text-decoration: none;
  color: #183B56;
}

.footer__list {
  margin-left: 80px;
}

.footer__item {
  margin-top: 24px;
  font-family: 'Open Sans' , sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.contact__logo {
  width: 98px;
  height: 28px;
}

.contact__text {
  max-width: 263px;
  margin-top: 28px;
  margin-bottom: 32px;
  font-family: 'Open Sans' , sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 28px;
  color: #5A7184;
}

.social-network__link {
  text-decoration: none;
}

.subfooter-item {
  margin-top: 96px;
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.subfooter-item-text {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #5A7184;
}

@media (min-width: 1200px) {
  .category-book__best-book {
    cursor: pointer;
  }
  .category-book__best-button {
    cursor: pointer;
  }
  .category-book__more {
    text-transform: uppercase;
    cursor: pointer;
  }
  .category-book__booking-button {
    cursor: pointer;
  }
  .category-book__booking-image {
    cursor: pointer;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .navbar__rating {
    padding-left: 180px;
  }
  .main-left {
    max-width: 500px;
  }
  .category-book {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .category-book__more {
    text-transform: uppercase;
  }
  .category-book__title {
    text-align: center;
  }
  .category-book__top {
    margin-top: 56px;
  }
  .category-book__best {
    max-width: 100%;
  }
  .category-book__best-name {
    margin-bottom: 12px;
  }
  .category-book__best-button {
    margin-top: 14px;
  }
  .category-book__best-content {
    max-width: 200px;
  }
  .category__best-book {
    cursor: pointer;
  }
  .category__best-book-button {
    cursor: pointer;
  }
  .category__best__more {
    text-transform: uppercase;
    cursor: pointer;
  }
  .category__best__booking-button {
    cursor: pointer;
  }
  .category__best__booking-image {
    cursor: pointer;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 800px;
  }
  .navbar {
    position: fixed;
  }
  .navbar-top__menu-button {
    display: block;
    cursor: default;
  }
  .navbar__rating {
    display: none;
  }
  .navbar__button {
    display: none;
  }
  .menu-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 22px;
    height: 18px;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 0;
    background-color: #fff;
    cursor: pointer;
  }
  .menu-button__line {
    width: 22px;
    height: 2px;
    background-color: #3A4C66;
    border-radius: 5px;
  }
  .main-right {
    display: none;
  }
  .main-left {
    padding-top: 136px;
  }
  .main-left__buy {
    cursor: default;
  }
  .main-left__demo {
    cursor: default;
  }
  .category-book {
    cursor: default;
  }
  .category-book__items {
    margin-right: 0;
  }
  .category-book__req {
    max-width: 900px;
  }
  .category-book__more {
    max-width: 800px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
  }
  .category-book__booking-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }
  .category-book__booking-description {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
  }
  .category-book__booking-price {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
    width: 92%;
  }
  .category-book__best-name {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
  }
  .category-book__best-name-price {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
  }
  .category-book__best-name-book {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
  }
  .category-book__title {
    font-size: 28px;
  }
  .category-book__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .category-book__item {
    display: block;
    margin-top: 36px;
    max-width: 280px;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 10px;
  }
  .category-book__item-unvisible {
    display: none;
  }
  .category-book__image {
    margin-right: 0;
    margin-top: -50px;
  }
  .category-book__booking-title {
    margin-top: 13px;
    margin-bottom: 16px;
  }
  .category-book__booking-elements {
    display: block;
  }
  .category-book__booking-button {
    margin-right: 15px;
  }
  .category-book__booking-image {
    margin-top: 5px;
  }
  .category-book__more {
    margin-top: 24px;
    padding: 14px 61px;
    text-transform: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 576px) {
  .main-left {
    text-align: center;
    margin: auto;
  }
}

@media (max-width: 530px) {
  .main-left__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-left__buy {
    margin-right: 0;
    padding-right: 49px;
    padding-left: 49px;
  }
}

@media (max-width: 320px) {
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }
  .navbar-top {
    padding-top: 17px;
    padding-bottom: 18px;
  }
  .container {
    max-width: 280px;
    margin: auto;
  }
  .main {
    padding-top: 36px;
  }
  .main-left__title {
    margin-bottom: 22px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.2px;
  }
  .main-left__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }
  .main-left__description {
    margin-top: 33px;
    margin-bottom: 17px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
  }
  .main-left__buttons {
    gap: 15px;
  }
  .main-left__buy {
    margin-right: 0;
    padding-top: 11px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .main-left__demo {
    padding-top: 9px;
    padding-bottom: 5px;
    padding-right: 28px;
    padding-left: 28px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */