@media (min-width: 1200px)
  .navbar
    &-top
  .category
    &-book
      &__best
        &-book
          cursor: pointer
        &-button
          cursor: pointer
      &__more
        text-transform: uppercase
        cursor: pointer
      &__booking
        &-button
          cursor: pointer
        &-image
          cursor: pointer
@media (max-width: 1200px)
  .container
    max-width: 960px
  .navbar
    &__rating
      padding-left: 180px
  .main
    &-left
      max-width: 500px
  .category
    &-book
      flex-direction: column
      align-items: center
      &__more
        text-transform: uppercase
      &__title
        text-align: center
      &__top
        margin-top: 56px

      &__best
        max-width: 100%
        &-name
          margin-bottom: 12px
        &-button
          margin-top: 14px
        &-content
          max-width: 200px
    &__best
      &-book
        cursor: pointer
        &-button
          cursor: pointer
      &__more
        text-transform: uppercase
        cursor: pointer
      &__booking
        &-button
          cursor: pointer
        &-image
          cursor: pointer
  .req
    &-slider
      &__container
        flex-wrap: wrap
        gap: 26px
        max-width: 751px
        justify-content: center
        padding-bottom: 120px
      &__button
        top: 550px
        &--next
          right: 8.5%
        &--prev
          left: 8.5%
@media (max-width: 992px)
  .container
    max-width: 800px
  .navbar
    position: fixed
    &-top
      &__menu
        &-button
          display: block
          cursor: default
    &__rating
      display: none
    &__button
      display: none
  .menu
    &-button
      display: flex
      width: 22px
      height: 18px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: 0
      background-color: #fff
      cursor: pointer
      &__line
        width: 22px
        height: 2px
        background-color: #3A4C66
        border-radius: 5px
  .main
    &-right
      display: none
    &-left
      padding-top: 136px
      &__buy
        cursor: default
      &__demo
        cursor: default
  .category
    &-book
      cursor: default
      &__items
        margin-right: 0
      &__req
        max-width: 900px
      &__more
        max-width: 800px
        font-style: normal
        font-weight: bold
        font-size: 16px
        line-height: 20px
      &__booking
        &-title
          font-weight: 500
          font-size: 20px
          line-height: 24px
        &-description
          font-weight: normal
          font-size: 14px
          line-height: 20px
        &-price
          font-style: normal
          font-weight: bold
          font-size: 16px
          line-height: 20px

@media (max-width: 768px)
  .container
    max-width: 576px
    width: 92%
  .category
    &-book
      &__best
        &-name
          font-style: normal
          font-weight: bold
          font-size: 16px
          line-height: 24px
          &-price
            font-style: normal
            font-weight: bold
            font-size: 20px
            line-height: 24px
          &-book
            font-style: normal
            font-weight: bold
            font-size: 16px
            line-height: 20px
      &__title
        font-size: 28px
      &__items
        justify-content: center
      &__item
        display: block
        margin-top: 36px
        max-width: 280px
        text-align: center
        flex-wrap: wrap
        justify-content: flex-start
        gap: 10px
        &-unvisible
          display: none
      &__image
        margin-right: 0
        margin-top: -50px
      &__booking
        &-title
          margin-top: 13px
          margin-bottom: 16px
        &-elements
          display: block
        &-button
          margin-right: 15px
        &-image
          margin-top: 5px
      &__more
        margin-top: 24px
        padding: 14px 61px
        text-transform: none
        font-family: 'Roboto Condensed', sans-serif
        font-style: normal
        font-weight: bold
        font-size: 16px
        line-height: 20px

@media (max-width: 576px)
  .main
    &-left
      text-align: center
      margin: auto
@media (max-width: 530px)
  .main
    &-left
      &__buttons
        flex-direction: column
      &__buy
        margin-right: 0
        padding-right: 49px
        padding-left: 49px
@media (max-width: 320px)
  .navbar
    padding-top: 0
    padding-bottom: 0
    &-top
      padding-top: 17px
      padding-bottom: 18px
  .container
    max-width: 280px
    margin: auto
  .main
    padding-top: 36px
    &-left
      &__title
        margin-bottom: 22px
        font-style: normal
        font-weight: bold
        font-size: 32px
        line-height: 40px
        text-align: center
        letter-spacing: 0.2px
      &__subtitle
        font-style: normal
        font-weight: normal
        font-size: 16px
        line-height: 24px
      &__description
        margin-top: 33px
        margin-bottom: 17px
        font-style: normal
        font-weight: normal
        font-size: 16px
        line-height: 23px
        text-align: center
  .main
    &-left
      &__buttons
        gap: 15px
      &__buy
        margin-right: 0
        padding-top: 11px
        padding-bottom: 10px
        padding-right: 20px
        padding-left: 20px
      &__demo
        padding-top: 9px
        padding-bottom: 5px
        padding-right: 28px
        padding-left: 28px
        font-style: normal
        font-weight: bold
        font-size: 16px
        line-height: 22px
        text-align: center
